MEMBER_DB_USERNAME=
MEMBER_DB_PASSWORD=
CORE_DB_USERNAME=
CORE_DB_PASSWORD=
PAYMENT_DB_USERNAME=
PAYMENT_DB_PASSWORD=
AI_DB_USERNAME=
AI_DB_PASSWORD=
TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
ENCRYPTION_SECRET_KEY=
ELASTICSEARCH_PASSWORD=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=https://lastdish.kr/login
KAKAO_ADMIN_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REDIS_PASSWORD=
NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=
