MEMBER_DB_NAME=member_db
MEMBER_DB_USERNAME=member
MEMBER_DB_PASSWORD=

CORE_DB_NAME=core_db
CORE_DB_USERNAME=core
CORE_DB_PASSWORD=

ELASTIC_PASSWORD=
ELASTICSEARCH_BIND_ADDRESS=10.30.2.93
EXPORTER_BIND_ADDRESS=10.30.2.93
